@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$main: black;
$second: red;
$third: white;
$info-link: #771616;

$primary: $main;
$info: $info-link; 


// Add a serif family
$family-serif: "Inter", "Georgia", serif;

// Use the new serif family
$family-primary: $family-serif;


@import '../node_modules/bulma/bulma.sass';